
<body>
  <div class="services-area py-5 px-md-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mt-4 mb-2">
          <h5 class="mb-0 text-dark">WHAT WE OFFER</h5>
          <h1 class="text-dark fw-bold display-4 mb-0">OUR SOLUTIONS</h1>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <!-- Slide 1 -->
          <div class="swiper-slide">
            <div class="services-style-five-item">
              <h3 class="heading">Deep-Tech AI Solutions</h3>
              <p>We reconstruct legacy systems into simple, efficient, and effective solutions for
                businesses to leverage modern technologies.</p>
              <a class="btn-border-secondary" href="/walnut">Read More</a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="services-style-five-item">
              <h3 class="heading">Deep-Tech AI Solutions</h3>
              <p>We reconstruct legacy systems into simple, efficient, and effective solutions for
                businesses to leverage modern technologies.</p>
              <a class="btn-border-secondary" href="/walnut">Read More</a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="services-style-five-item">
              <h3 class="heading">Deep-Tech AI Solutions</h3>
              <p>We reconstruct legacy systems into simple, efficient, and effective solutions for
                businesses to leverage modern technologies.</p>
              <a class="btn-border-secondary" href="/walnut">Read More</a>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="services-style-five-item">
              <h3 class="heading">Deep-Tech AI Solutions</h3>
              <p>We reconstruct legacy systems into simple, efficient, and effective solutions for
                businesses to leverage modern technologies.</p>
              <a class="btn-border-secondary" href="/walnut">Read More</a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="services-style-five-item">
              <h3 class="heading">Deep-Tech AI Solutions</h3>
              <p>We reconstruct legacy systems into simple, efficient, and effective solutions for
                businesses to leverage modern technologies.</p>
              <a class="btn-border-secondary" href="/walnut">Read More</a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="services-style-five-item">
              <h3 class="heading">Deep-Tech AI Solutions</h3>
              <p>We reconstruct legacy systems into simple, efficient, and effective solutions for
                businesses to leverage modern technologies.</p>
              <a class="btn-border-secondary" href="/walnut">Read More</a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="services-style-five-item">
              <h3 class="heading">Deep-Tech AI Solutions</h3>
              <p>We reconstruct legacy systems into simple, efficient, and effective solutions for
                businesses to leverage modern technologies.</p>
              <a class="btn-border-secondary" href="/walnut">Read More</a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="services-style-five-item">
              <h3 class="heading">Deep-Tech AI Solutions</h3>
              <p>We reconstruct legacy systems into simple, efficient, and effective solutions for
                businesses to leverage modern technologies.</p>
              <a class="btn-border-secondary" href="/walnut">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">
        <span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button"
          aria-label="Go to slide 1" aria-current="true"></span><span class="swiper-pagination-bullet" tabindex="0"
          role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0"
          role="button" aria-label="Go to slide 3"></span><span class="swiper-pagination-bullet" tabindex="0"
          role="button" aria-label="Go to slide 4"></span><span class="swiper-pagination-bullet" tabindex="0"
          role="button" aria-label="Go to slide 5">
        </span>
      </div>

      <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>

    </div>
  </div>


  <!-- Swiper JS -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script> -->
  <!-- Bootstrap JS -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script> -->

  <!-- Swiper Initialization -->
  <!-- <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 1,
            spaceBetween: 20,
            breakpoints: {
                768: {
                    slidesPerView: 2, /* Medium screens */
                },
                992: {
                    slidesPerView: 4, /* Large screens */
                }
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
        });
    </script> -->
    
</body>
