<div class="outer">

  <div class="breadcrumb-area text-center shadow dark text-light bg-cover"
    style="background-image: url('/assets/aboutUsAll/bgpage/Our leadership team..jpg');">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-lg-auto">
          <h1 class="display-2 text-uppercase">Meet our leaders</h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            <span class="text-light"> About Us > Meet our leaders </span>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <app-founder></app-founder>

<div class="container-fluid">

  <div class="container">
    <div class="col-lg-12  py-md-5 "><!-- Single Item -->
      <div class="row row-cols-lg-5 row-cols-2 justify-content-center">

        <!-- <div class="col px-lg-3 mt-5">
          <div class="team-block shadow-md"><a href="#" data-bs-toggle="modal" data-bs-target="#naveen-profile">
              <img class="img-fluid" src="/assets/Leading Icon.png" alt="..."></a>
            <div class="card-body text-center p-2">
              <h4 class="fw-semibold mb-1">Nikhileshwar Kshirsagar</h4>
              <h6 class="fw-medium mb-2">Founder and CEO</h6>
            </div>
          </div>
        </div> -->

        <!-- <div class="col px-lg-3 mt-5">
          <div class="team-block shadow-md"><a href="#" data-bs-toggle="modal" data-bs-target="#vivek-chadha">
              <img class="img-fluid" src="/assets/Leading Icon.png" alt="..."></a>

            <div class="card-body text-center p-2">
              <h4 class="fw-semibold mb-1">Ketan Shevatkar</h4>
              <h6 class="fw-medium mb-1">Chief Director (Operations)</h6>
            </div>
          </div>
        </div> -->


        <div class="col px-lg-3 mt-5">
          <div class="team-block shadow-md"><a href="#" data-bs-toggle="modal" data-bs-target="#akash-tiwari">
            <img class="img-fluid" src="../../assets/Amol Shevane.jpg" alt="..."></a>
            <div class="card-body text-center p-2">
              <h4 class="fw-semibold mb-1"> Amol shevane</h4>
              <h6 class="fw-medium mb-1">Executive Director of Human Capital</h6>
            </div>
          </div>
        </div>

        <div class="col px-lg-3 mt-5">
          <div class="team-block shadow-md"><a href="#" data-bs-toggle="modal" data-bs-target="#david-lum">
              <img class="img-fluid" src="../../assets/Swapnil tali.jpg" alt="..."></a>
            <div class="card-body text-center p-2">
              <h4 class="fw-semibold mb-1">Swapnil Tali</h4>
              <h6 class="fw-medium mb-1">Project Manager</h6>
            </div>
          </div>
        </div>


        <!-- <div class="col px-lg-3 mt-5">
          <div class="team-block shadow-md"><a href="#" data-bs-toggle="modal" data-bs-target="#david-lum">
              <img class="img-fluid" src="/assets/Leading Icon.png" alt="..."></a>
            <div class="card-body text-center p-2">
              <h4 class="fw-semibold mb-1">Rajesh Patale</h4>
              <h6 class="fw-medium mb-1">Project Manager</h6>
            </div>
          </div>
        </div> -->


        <div class="col px-lg-3 mt-5">
          <div class="team-block shadow-md"><a href="#" data-bs-toggle="modal" data-bs-target="#akash-tiwari">
            <img class="img-fluid" src="/assets/leaderimages/team/Smital..jpg" alt="..."></a>
            <div class="card-body text-center p-2">
              <h4 class="fw-semibold mb-1">Smital Mankar</h4>
              <h6 class="fw-medium mb-1">Senior Hr</h6>
            </div>
          </div>
        </div>

        <div class="col px-lg-3 mt-5">
          <div class="team-block shadow-md"><a href="#" data-bs-toggle="modal" data-bs-target="#akash-tiwari">
            <img class="img-fluid" src="/assets/leaderimages/team/20241203_1637442.jpg" alt="..."></a>
            <div class="card-body text-center p-2">
              <h4 class="fw-semibold mb-1">Samiksha Chaturbhuj </h4>
              <h6 class="fw-medium mb-1">Talent Acquisition Specialist</h6>
            </div>
          </div>
        </div>

        <div class="col px-lg-3 mt-5">
          <div class="team-block shadow-md"><a href="#" data-bs-toggle="modal" data-bs-target="#akash-tiwari">
            <img class="img-fluid" src="/assets/leaderimages/team/WhatsApp Image 2024-12-03 at 5.40.40 .jpeg.jpg" alt="..."></a>
            <div class="card-body text-center p-2">
              <h4 class="fw-semibold mb-1">Pranjali Bonde </h4>
              <h6 class="fw-medium mb-1">Digital Media Manager</h6>
            </div>
          </div>
        </div>

      </div>
      </div>
      
    </div>
  </div>
</div>
